.container {
    border: 1px solid rgba(0, 0, 0, .5);
    box-sizing: border-box;
    width: 250px;
    height: 300px;
    margin: 6px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    animation: scale 280ms forwards 1;
    transform: scale(0);
}

.category:hover {
    background-color: rgba(0, 0, 0, .1);
}

.image {
    width: 100%;
    object-fit: cover;
    flex: 1
}

.id {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgb(49, 122, 231);
    font-size: 20px;
}

@keyframes scale {

    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}